<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
       <h4 class="text-center"> Welcome {{ user.username }} </h4>
    </div>
        {% if backend.associated.provider == 'facebook' %}
    <div class="col-md-6 social-container my-2">
        <p> Provider url: <a href="{{backends.associated.extra_data.profile_url}}">link</a></p>
      </div>
    {% endif %}
    {% if backend.associated.provider == 'vk-oauth2' %}
    <div class="col-md-6 social-container my-2">
        <p> Provider url: <a href="{{backends.associated.extra_data.profile_url}}">link</a></p>
      </div>
    {% endif %}
</div>
{% endblock %}
